* { 
    box-sizing: border-box;
    padding: 0;
    font-family: 'Comfortaa', cursive;
}

button {
    background-color: black;
    color: #ff7aff;
}

.Button {
    background-color: transparent;
    border: none;
    text-decoration: none;
    color: white;
    font-size: 14px;
    font-weight: bold;
    margin: 0 5px;
    padding: 2vh 5px 0 5px;
}


.Button:hover {
    text-decoration: underline;
}

.Error {
    color: red;
    font-weight: bold;
    font-size: 24px;
    padding-left: 2vw;
}


.Form form {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    max-width: 500px;
    padding: 1vw;
}

.Form input {
    margin-bottom: 30px;
    padding: 10px 5px;
}

.Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1, h2 {
    color:white;
    font-family: 'Bebas Neue', cursive;
}

.HeaderWrapper {
    border-bottom: 1px solid black;
    padding: 5px 25px;
    background-color: black;
}

.Header nav a {
    color: white;
    font-size: 14px;
    font-weight: bold;
    margin: 0 5px;
    padding: 2vh 5px 0 5px;;
    text-decoration: none;
}

.Header nav a:last-child {
    margin-right: 0;
    padding-right: 0;
  }
  
.Header nav a:hover {
    text-decoration: underline;
}

.MovieCardWrapper {
    align-items: flex-start;
    border: 2px solid black;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    margin: 25px;
    width: 45%;
    padding: 12px;
}

.Logo {
    margin-top: 12px;
}

.MovieCardText {
    display: flex;
    flex-direction: column;
    margin: 2vh;
    padding: 5px;
}

.MovieCardText p {
    margin-bottom: 15px;
}

.MovieCardBody {
    display: flex;
    flex-direction: row;
}

.PageWrapper {
    margin: 0 auto;
    margin-bottom: 4vh;
    max-width: 85vw;
    padding:  25px 25px 0 25px;
}

.Post {
    border: 1px solid black;
    background-color: black;
    display: flex;
    flex-direction: column;
    margin: 5px 10px 5px 0;
    padding: 10px;
    width: 40%;
    height: 100%;
}

.PostCardWrap {
    display: flex;
    flex-wrap: wrap;
}

.PostImage {
    flex-basis: 30%;
}

.PostImage img {
    object-fit: cover;
    height: 300px;
    width: 100%;
}

.PostText {
    flex-basis: 50%;
    font-size: 14px;
    padding: 2vw;
    color: white;
}

.PostText a {
    color: black;
    text-decoration: none;
}

.Title {
    color: black;
}

.ViewButton {
    border: 1px solid white;
    border-radius: 8px;
    background-color: white;
    display: flex;
    justify-content: center;
    margin-top: 6px;
    max-width: 100px;
    padding: 4px;
}

.ViewButton:hover {
    background-color: #ffdeff;
}



